# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env

# If your project uses SQLite, you might want to ignore the database file:
db.sqlite3

# Django migrations
*/migrations/*

# If you're using Django's static files
staticfiles/

# Media files
media/

# Local environment variables
.env

# Django's local settings
local_settings.py

# Debugger configurations
*.coverage
*.coveragerc
.coverage.*

# Python egg metadata
*.egg-info/
.installed.cfg
*.egg

# MySQL specific files
*.pem

# Local IDE configurations
.vscode/
.idea/
